{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
{% endblock %}
{% block title %}Whyzard whisky tool{% endblock %}

{% block navbar %}
<div class="navbar navbar-left">
    {% include 'searchform.html' %}
</div>
{% endblock %}

{% block content %}
<table>
    <thead>
        <td>Shop</td>
        <td>Naam</td>
        <td>Prijs</td>
    </thead>
    {%for s in shop_result%}
    <tr>
        <td><a href={{s.url}}>{{s.shop}}</a></td>
        <td><a href={{s.url}}>{{s.name}}</a></td>
        <td><a href={{s.url}}>{{s.price}}&#8352;</a></div>
    </tr>
    {%endfor%}
</table>

{% endblock %}