{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.searchterm.label }}<br>
        {{ form.searchterm(size=32) }}
    </div>

    <div class="form-group">
        <ul class="list-group">
            {% for subfield in form.shopname %}
            <li class="list-group-item">
                <div>{{ subfield }} {{ subfield.label }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ form.minPrice.label }}
        {{ form.minPrice() }}
    </div>
    <div class="form-group">
        {{ form.maxPrice.label }}
        {{ form.maxPrice() }}
    </div>
    <div class="form-group">
        {{ form.submit() }}
    </div>
</form>
{% endblock %}